<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/mainLayout}">

<head>
<title>Sidebar menu responsive</title>
</head>



<section layout:fragment="conteudo">

	<h1>Components</h1>

	<div class="conteudo-central">
		<h1 style="text-align: center;"> [[${grupo}]]</h1>

		<form action="#" th:action="@{/usuario/grupo}" th:object="${grupo}" 
				method="post"style="margin: 40px;">
			<div class="form-column">
				<p>Nome do  Perfil:</p>
				<input type="text" th:field="*{nome}" style="width: 100%">
			</div>

 <fieldset>
  <legend>Indique os Privilegios:</legend>
			<div th:each="f : ${permissao}" >
				<input type="checkbox"  th:value="${f.codigo}" th:field="*{permissoes}">
				<label for="permissao" th:text="${f.nome}">gd</label>
			
			</div>

	 </fieldset>		
			<button type="submit">Salvar</button>
		</form>
	</div>

</section>
</html>