<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/mainLayout}">

<head>
<title>Cadastro de Perfis</title>
</head>



<section layout:fragment="conteudo">
	<div class="card-conteudo grid-conteudo">
		<div class="img-form">
			<img alt=""
				src="https://image.freepik.com/vetores-gratis/ilustracao-do-conceito-de-juiz_114360-1710.jpg"
				width="100%">
		</div>

		<form action="#" th:action="@{/varas}" method="post"
			style="margin: 40px;">
			<input type="hidden" />
			<div class="form-column">
				<p>Nome do Perfil:</p>
				<input type="text" style="width: 100%">
			</div>
			<div class="form-group">
				<div class="form-column">
					<p>UF:</p>
					<select id="mySelect" onchange="getComboA(mySelect)" name="uf">
						<option value="0">Selecione a cidade</option>
						<option th:each="uf : ${ufs}" th:value="${uf.id}"
							th:text="${uf.nome_uf}" />
					</select>
				</div>
				<div class="form-column">
					<p>Comarca:</p>
					<select id="comboCidade" name="cidade"
						disabled="disabled">
<!-- 						<option th:if="${entidade.cidade}" -->
<!-- 							th:value="${entidade.cidade.id}" -->
<!-- 							th:text="${entidade.cidade.nome_municipio}"></option> -->
						<!-- <option data-th-each="cidade : ${cidades}" -->
						<!-- 								th:value="${cidade.id}" th:text="${cidade.nome}" /> -->
					</select>
				</div>
			</div>
			<div class="form-column">
				<p>Entidade:</p>
				<select id="select-entidade" name="entidade">
						<option value="0">Selecione a Entidade</option>
						<option th:each="entidade : ${entidades}" th:value="${entidade.id}"
							th:text="${entidade.nome}" />
					</select>
			</div>


			<button type="submit" class="btn btn-primary">Salvar</button>
			<button type="submit" class="btn btn-danger">excluir</button>
		</form>
	</div>

</section>
</html>